<div class="card" style="width: 18rem;">
    <img src="@Model.Image" class="card-img-top" />
    <div class="card-body">
        <p class="card-text">@Model.Name</p>
        <p class="weight">@Model.Weight</p>
        <p class="card-text"><small class="text-muted">@Model.Ingredients</small></p>
        <p class="price">@Model.Price</p>
    </div>
</div>